<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.sample_project.mapper.DashboardMapper">
    <select id="getTotalMemberCnt" resultType="java.lang.Integer">
        select count(*) from member_info
    </select>
    <select id="getActiveMemberCnt" resultType="java.lang.Integer">
        select count(*) from member_info where mi_status=1
    </select>
    <select id="getDeactiveMemberCnt" resultType="java.lang.Integer">
        select count(*) from member_info where mi_status=0
    </select>


    <select id="getTotalOrderCnt" resultType="java.lang.Integer">
        select count(*) from order_info
    </select>
    <select id="getCompleteOrderCnt" resultType="java.lang.Integer">
        select count(*) from order_info where oi_status = 1
    </select>
    <select id="getProgressOrderCnt" resultType="java.lang.Integer">
        select count(*) from order_info where oi_status = 2
    </select>
    <select id="getCancelOrderCnt" resultType="java.lang.Integer">
        select count(*) from order_info where oi_status = 0
    </select>


    <select id="getTotalBookCnt" resultType="java.lang.Integer">
        select count(*) from book_info
    </select>
    <select id="getSellingBookCnt" resultType="java.lang.Integer">
        select count(*) from book_info where bi_status = 1
    </select>
    <select id="getNoBookCnt" resultType="java.lang.Integer">
        select count(*) from book_info where bi_status = 2
    </select>
    <select id="getUnavailableBookCnt" resultType="java.lang.Integer">
        select count(*) from book_info where bi_status = 3
    </select>


    <select id="getTotalReviewCnt" resultType="java.lang.Integer">
        select count(*) from book_review 
    </select>
    <select id="getNowReviewCnt" resultType="java.lang.Integer">
        select count(*) from book_review where br_status = 1
    </select>
    <select id="getDeleteReviewCnt" resultType="java.lang.Integer">
        select count(*) from book_review where br_status = 0
    </select>

    <select id="getTotalEmployeeCnt" resultType="java.lang.Integer">
        select count(*) from employee_info
    </select>
    <select id="getNowEmployeeCnt" resultType="java.lang.Integer">
        select count(*) from employee_info where ei_status=1
    </select>
    <select id="getVacationEmployeeCnt" resultType="java.lang.Integer">
        select count(*) from employee_info where ei_status=2
    </select>
    <select id="getRestEmployeeCnt" resultType="java.lang.Integer">
        select count(*) from employee_info where ei_status=3
    </select>

    <select id="getBookUpdateDate" resultType="java.util.Date">
        select bkh_reg_dt from book_history order by bkh_reg_dt desc limit 1
    </select>  
    <select id="getEmployeeUpdateDate" resultType="java.util.Date">
        select eih_reg_dt from employee_info_history order by eih_reg_dt desc limit 1
    </select>  
</mapper>